.leaflet-container {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

.bottom-panel {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
}

.leaflet-tile-pane {
  filter: grayscale(100%);
}

.input-char {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 6px;
  padding-bottom: 3px;
  margin: 6px;
  width: 24px;
  height: 24px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

.svg-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
